.main {
    /* height:100vh; have :not full with her child element don't take the full height depending in her child element but (icnoring this) and take just the 100% from viewPore (screen) */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    position: relative;
    cursor: pointer;
}

.galloryImg {
    width: 100%;
    height: 100%;
}



.galloryMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    /* background-image: url(/public/images/GalloryImg/Rectangle2.png); */
    color: #ffffff;
    background-color: black;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translate(50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    cursor: auto;
}

.container:hover .galloryMid {
    transform: translate(0);
    visibility: visible;
    opacity: 1;

}

.galloryMid p {
    font-size: 24px;
    font-weight: 700;
}

.galloryMid span {
    font-size: 16px;
}

.Button {
    padding: 0.5rem 2rem;
    border-radius: 7px;
    border: 2px solid #ffffff;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.Button:hover {
    cursor: pointer;
}

@media (max-width:46.875em) {
    .main {
        grid-template-columns: 1fr;
    }

    .galloryImg:nth-of-type(n):not(:last-child) {
        opacity: 0;
        position: absolute;
        visibility: hidden;
        pointer-events: none;
    }

    .galloryImg:last-of-type {
        max-width: 400px;
        width: unset;
        justify-self: center;
    }

    .galloryMid {
        max-width: 400px;
        width: 100%;
        height: 270px;
        justify-self: center;
        background-repeat: no-repeat;
    }

}
@media (max-width:31.25em) {
    .main {
        position: absolute;
    }
    
}