.navBar {
  display: flex;
  align-items: center;

  margin: 0 auto;
  width: 100%;
  padding: 0.4rem 7rem;
}

.navSticky {
  background-color: #ffffff;
  color: #12273d;
  position: fixed;
  z-index: 10;
  transition: 0.3s ease-in-out;
}

.navSticky .navBarLogo {
  color: #12273d;
}

.navSticky .navBarList li a {
  color: #12273d;
}

.navSticky .img {
  color: #12273d;
}

.navSticky .navBarList li a:hover {
  color: #ffffff;
}

.navBarLogo {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;

  color: #ffffff;
}

.navBarLogo span:nth-child(2) {
  font-weight: 400;
}

.navBarList {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  z-index: 15;
  margin-left: 38%;
}

.navBarList li a {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  /* identical to box height */
  padding: 4.5px 8.516px;
  text-decoration: none;
  color: #ffffff;
}

.navBarList li a:hover {
  background: #741906;
  border-radius: 6px;
  cursor: pointer;
}

.navBarList li span {
  cursor: pointer;
}

.img {
  position: relative;
  margin-left: 30px;
}

.img span:nth-child(1) {
  cursor: pointer;
}

.black {
  color: black;
}

.white {
  color: #ffffff;
}

.badge {
  position: absolute;
  border-radius: 4px;
  background: #F8D7A4;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  padding: 1px 3px;
  top: -9px;
  left: 18px;
}

.imgClickBtn {
  color: #741906;
}

.show {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  cursor: pointer;
}

/* mobile navBar */


@media (max-width:68.75em) {
  .navBarLogo {
    font-size: 38px;
  }

  .navBarList {
    margin-left: 10%;
  }


}

@media (max-width:46.875em) {

  .show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    position: relative;
    margin-left: 12px;
  }

  .navBar {
    justify-content: space-between;
  }

  .navBarList {

    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 69px;
    background: rgba(18, 39, 61, 0.95);
    backdrop-filter: blur(25px);
    height: 646.5px;

    transform: translate(100%, 0);
    transition: 0.3s ease-in-out;
    color: #ffffff;
    max-width: 336px;
    right: 0;
    width: 60%;
    visibility: hidden;
    pointer-events: none;
  }

  .navSticky .navBarList li a {
    color: #ffffff;
  }

  .navBarList li {
    width: 100%;
    height: 40px;
    padding-left: 3rem;
  }

  .navBarList li:hover {
    background: #741906;
    cursor: pointer;
  }

  .navMobileTransilate {
    transform: translate(0, 0);
    visibility: visible;
      pointer-events: all;
  }

  .img {
    margin-left: 0;
  }
}

@media (max-width:33.125em) {
  .navBar {
    padding: 0.4rem 2rem;
  }
}