.main {
    height: 100vh;
    width: 25%; 
    position: absolute;
    /* left: 0; */
    right: 0;
    top: 69px;
    background: #12273D;
    mix-blend-mode: multiply;
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    transition:all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}   
.main.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
 }
 .main.visible { 
   opacity: 0.9;
   pointer-events: all;
   visibility: visible;
 }
.btn { 
    background: #741906;
    border-radius: 4px;
    position: absolute;
    bottom: 20%;
}