body {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 8.6rem 1.2rem; */
  padding: 8.6rem 2.2rem 8.6rem 2.2rem;
  /* or top |left and right|buttom padding: 8.6rem 1.2rem 0; */
}

.grid {
  display: grid;
}

.grid-col2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col3 {
  grid-template-columns: 1fr 1fr 1fr;
}


/* for the logo */

/*for the sub red text in the section */
.sub-textSection {
  font-size: 48px;
  line-height: 72px;
  color: #741906;
}

.subTextMiddel {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  top: 55px;
  display: block;
  position: relative;
  text-align: center;
}

.ridesPositionLeft {
  position: absolute;
  width: 375px;
  height: 165px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;

  /* left: 0;
    top: -22px; */
  left: -10px;
  top: -60px;
  color: #ebebeb;
  z-index: -1;
}

.ridesPositionMiddel {
  position: absolute;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 10rem;
  z-index: 0;
  text-align: center;
  left: 50%;
  top: 118px;
  transform: translate(-50%, -50%);
  /* color: #EBEBEB; */
  opacity: 0.2;

}

/*Style Slide  */



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: inherit;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  padding: 0 4rem !important;
  width: 100%;
}

/* Purcheses */

#slipContainer {
  position: fixed;
  width: 30%;
  right: 0;
  top: 69px;
  /* height: 100vh; */
  /* overflow-x: hidden; */
  background: #12273D;
  /* mix-blend-mode: multiply; */
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  transition: all 0.3s ease-in-out;
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 5rem 2rem;
  /* margin-bottom: 2rem; */
  z-index: 100;
}

.btnSlipContainer {

  position: absolute;
  bottom: 0;
  z-index: 10;
  font-size: 16px;
  padding: 1rem 3rem;
  margin-bottom: 18px;

}

.btnSlipContainer:hover {
  cursor: pointer;
}

.imgSlide {
  position: absolute;
  color: #FFFFFF;
  right: 8%;
  padding: 2% 0 0 0;

}

.imgSlide:hover {
  cursor: pointer;
}

#scroll {
  position: fixed;
  z-index: 11;
  color: #000;
}

.red {
  color: #741906 !important;
}

.slideHidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0s ease-in-out;
}

.SumValues {
  font-size: 24px;
  right: 8%;
  /* padding: 2% 0 0 0; */
  top: 1%;
  position: absolute;
  border-radius: 4px;
  background: #F8D7A4;
}

/* Media querry  */


@media (max-width:80em) {
  body {
    font-size: 55%;
  }

  .container {
    max-width: 109rem;
  }
}

@media (max-width:68.75em) {
  .container {
    max-width: 100rem;
  }

  /* .imgSlide {
    /* right: 6rem; */
  /* }  */
}

@media (max-width:64rem) {
  body {
    font-size: 50%;
  }

  .container {
    max-width: 90rem;
  }

  /* .imgSlide {
    right: 10rem;
  } */
}

@media (max-width:46.875em) {
  .container {
    max-width: 63rem;
  }
}

@media (max-width:40.625em) {
  .container {
    max-width: 52rem;
  }
}

@media only screen and (max-width:31.25em) {
  html,body {
    width: 375px;
  }
  .ridesPositionLefts {
    width: 375px;
  }
}